<div class="app">
  <mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <div>
        <div>
          <button mat-button routerLink="todolist">
            <mat-icon>list</mat-icon>Todo List</button>
        </div>
        <mat-divider></mat-divider>
        <div>
          <button mat-button routerLink="archived">
            <mat-icon>archive</mat-icon> Archived
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>