<h1 mat-dialog-title>Name your todo</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <div class="input-dialog-buttons">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data.description" cdkFocusInitial>
            Ok
        </button>
    </div>
</div>