<mat-list>
  <mat-list-item *ngFor="let todo of todos;">
    {{todo.description}}
    <span class="createdDate">{{todo.createdDate * 1000 | date: 'yyyy-MM-dd'}}</span>
    <button mat-button (click)="onArchiveTodo(todo)">
      <mat-icon>archive</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>