<mat-list>
  <mat-list-item *ngFor="let todo of archivedTodos;">
    {{todo.description}}
    <span class="createdDate">{{todo.createdDate * 1000 | date: 'yyyy-MM-dd'}}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>